.logo-back{
    position: fixed;
    width: 400px;
    right: 0;
    top: 50vh;
    opacity: 0.1;
}
.logo-back img{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 760px) {
    .logo-back{
        width: 150px;
        right: -5%;
    }
}
@media only screen and (min-width: 761px) and (max-width: 1200px) {
    .logo-back{
        width: 250px;
        right: -5%;
    }
}